<head>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
	
</head>

<body>
	<div class="flex-container">
   	 	<div class="container">
      	  <h1>JOIN US</h1>
        	<p class="lead">Share a word of idea to future, <br>
			enter your email to join <strong class="strong"><%=count%></strong> others in our 
			waitlist. </p>
        	<form method="POST" action='/register'>
				<input type="text" class="input"name="word"  placeholder="Share Your Word"><br>
            	<input type="text" name="email" class="form" placeholder="Enter Your Email"><br>
            	<button>Join Now</button>
        	</form>
    	</div>
	</div>
</body>



